body{
	box-sizing: border-box;
	margin: 0;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}
main h1{
	color: royalblue;
}
main h2{
	color: royalblue;
}
main h3{
	color: royalblue;
}
main h4{
	color: royalblue;
}
main p{
	color: darkblue;
}
.read-more{
	display: block;
	text-align: center;
	margin-top: 10px;
	padding: 20px 20px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.read-less{
	display: block;
	text-align: center;
	margin-top: 10px;
	padding: 20px 20px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
article{
	margin: 100px 18px 100px 18px;
}
article span{
	display: none;
	color: darkblue;
	font-size: 20px;
}
.nav-ele{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;

}
nav .sub:hover{
	background-color: darkblue;
	padding: 7px;
	color: black;

}
#logo{
	width: 40px;
	height: auto;
	background-color: white;
	border-radius: 100%;
}
.sub{
  padding-right: 12px;
  font-size: 20px;
  display: flex;
  justify-content: left;

}
.main{
	font-family: "Alfa Slab One", serif;
    font-weight: 900;
    font-style: normal;
	font-size: 30px;
	display: inline-block;
	color: white;
}
.list-item{
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  padding-left: 8px;
  max-width: 300px;
  text-align: left;
}
.nav-list{
	position: absolute;
	top: 0;
	right: 0;
}
.list-item > a{
	color: white;
	text-decoration: none;
}
a{
	text-decoration: none;
}
.hed{
	font-size: 60px;
}
.ped{
	font-size: 30px;
}
.con-tent{
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}
#overlay{
	/*background-color: #1B5E20;*/
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: 
	linear-gradient(to bottom, black, transparent);
	opacity: 0.6;
}
#body-img{
	  margin-top: 0;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
	  background-attachment: fixed;
	  image-resolution: 1500dpi;
	  width: 100%;
	  height: 100vh;
}
.btn1{
	background-color: red;
	border: none;
	border-radius: 8px 8px;
	width: 150px;
	height: 50px;
	font-size: 20px;
}
.btn1 a{
	color: white;
}
main{
	text-align: center;
	text-decoration: none;
}
main li{
	list-style: none;
}
main img{
	border: 8px solid black;
	width: 50%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
#Founder{
    margin-top: 40px;
	margin-bottom: 40px;
}
#serv{
	border: none;
	border-radius: 4px 4px;
	width: 60%;
	height: auto;
}
footer{
	width: 100%;
	background-color: black;
	color: white;
	display: inline-block;
	margin-top: 100px;
}
footer p{
	text-align: center;
}
footer li{
	list-style: none;
	padding-bottom: 10px;
}
footer a{
     color: white;
	 text-decoration: none;
}
.unorder{
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
}
.wors{
	margin-top: 150px;
	margin-bottom: 150px;
}
.bishop{
	border-radius: 50%;
}
@media only screen and (max-device-width: 780px){
.bishop{
          width: 80%;
          height: auto;
}
	#body-img{
	width: 100%;
	height: 70vh;
}
#overlay{
	width: 100%;
	height: 70vh;
}
#serv{
	border: none;
	border-radius: 4px 4px;
	width: 100%;
	height: auto;
}
img{
	width: 100%;
	height: auto;
}
svg{
			visibility: hidden;
			margin-top: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
.art-img{
	width: 100%;
	height: auto;
}
.main{
	font-size: 30px;
	display: inline-block;
}
.sub{
  /*padding-right: 17px;
  padding-left: 17px;*/
  font-size: 12px;
}
.list-item{
	display: block;
}
.nav-list{
	visibility: hidden;
}
.jot{
	visibility: visible;
}
nav .sub:hover{
	background-color: darkblue;
	padding: 7px;
	color: black;
}
.btn1{
	background-color: red;
	border: none;
	border-radius: 8px 8px;
	width: 100px;
	height: 30px;
	font-size: 12px;
}
.hed{
	font-size: 30px;
}
.ped{
	font-size: 20px;
}
.unorder{
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
}
}
